.container_header {
    display: flex;
  list-style-type: none;
  padding-left: 0;
  border: solid 2px #fff;
}

.container_header li {
  flex: 1;
  text-align: center;
}

.header_navi {
  background-color: orange;
  color: #000;
}

.table_left {
  text-align: left;
}

.table_center {
  text-align: center;
}

.table_right {
  text-align: right;
}

table, th, td {
  border: solid 2px #fff;
  border-collapse: collapse;
  border-spacing: 0;
}