@import url("./common.css");
@import url("./common_user.css");

.container_main_search {
  border: solid 2px #fff;
  padding-bottom: 20px;
}

.container_main_top,
.container_main_bottom {
  margin-top: 16px;
}

.item_cell ul {
    list-style: none;
  padding-left: 0;
  display: flex;
  
}

.item_cell li {
  width: 33%;
}

.item_cell img {
  width: 75%;
}

.t_row4,
.t_row6 {
  display: flex;
  justify-content: center;
}

.t_row4 {
  height: 42px;
}

.t_space4 {
  padding-right: 50px;
}

.t_space6 {
  padding-right: 40px;
}

.m_row1,
.m_row2 {
  display: flex;
  justify-content: center;
}

.m_row1 {
  margin-top: 16px;
}

.m_space1_1 {
  padding-left: 20px;
}

.m_space1_2 {
  padding-right: 20px;
}

.m_space2_1 {
  padding-left: 104px;
}

.m_space2_2 {
  padding-right: 297px;
}

.item_detail {
  border: solid 2px #fff;
  padding: 0 10px;
  margin-right: 5px;
}

.empty {
  padding: 0 10px;
  margin-right: 5px;
}