@import url("./common.css");
@import url("./common_user.css");

.container_main_search {
  border: solid 2px #fff;
  padding-bottom: 20px;
}

.container_main_top,
.container_main_bottom {
  margin-top: 16px;
}

.item_cell ul {
    list-style: none;
  padding-left: 0;
  display: flex;
  
}

.item_cell li {
  width: 33%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.item_cell img {
  width: 85%;
}

h6 {
  margin-top: 8px;
}

.name {
  height: 8rem;
  vertical-align: middle;
}

.item_detail {
  border: solid 2px #fff;
  color: #fff;
  padding: 0 10px;
  margin-right: 5px;
  background-color: #381515;
}

.item_detail a {
  color: #fff;
}

.empty {
  padding: 0 10px;
  margin-right: 5px;
}

table {
  border: solid 2px #fff;
}

.table tbody td {
  vertical-align: middle;
}