@import url("./common.css");
@import url("./common_login.css");

.row1, .row2 {
  display: flex;
  justify-content: center;
}

.space1 {
  padding-right: 16px;
}

.row3 {
    padding-right: 35px;
    margin-top: 5px;
}

.row4 {
    margin-top: 10px;
}