@import url("./common.css");
@import url("./common_manage.css");

.table img {
  width: 75%;
}

.insert_item {
  width: 400px;
  text-align: left;
}

.button {
  margin-top: 2rem;
}

h6 {
  margin-top: 1rem;
}